In [1]:
import torch
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

import pandas as pd
import joblib

In [2]:
print(torch.cuda.is_available())

True

In [3]:
data = pd.read_csv('color_names.csv')
data

,Name,Hex (24 bit),Red (8 bit),Green (8 bit),Blue (8 bit),Hue (degrees),HSL.S (%),"HSL.L (%), HSV.S (%), HSV.V (%)"
0,Absolute zero,#0048BA,0,72,186,217.0,100.0,37.0
1,Acid green,#B0BF1A,176,191,26,65.0,76.0,43.0
2,Aero,#7CB9E8,124,185,232,206.0,70.0,70.0
3,Aero blue,#C9FFE5,201,255,229,151.0,100.0,89.0
4,African violet,#B284BE,178,132,190,288.0,31.0,63.0
...,...,...,...,...,...,...,...,...
1293,Yellow rose,#FFF000,255,240,0,56.0,100.0,50.0
1294,Yellow Sunshine,#FFF700,255,247,0,58.0,100.0,50.0
1295,Zaffre,#0014A8,0,20,168,233.0,100.0,33.0
1296,Zinnwaldite brown,#2C1608,44,22,8,23.0,69.0,10.0
1297,Zomp,#39A78E,57,167,142,166.0,49.0,44.0

In [4]:
data[(data['Red (8 bit)'] >= 250) & (data['Green (8 bit)'] >= 250) & (data['Blue (8 bit)'] >= 250)]

,Name,Hex (24 bit),Red (8 bit),Green (8 bit),Blue (8 bit),Hue (degrees),HSL.S (%),"HSL.L (%), HSV.S (%), HSV.V (%)"
59,Baby powder,#FEFEFA,254,254,250,60.0,67.0,99.0
1099,Snow,#FFFAFA,255,250,250,0.0,100.0,99.0
1266,White,#FFFFFF,255,255,255,0.0,0.0,100.0

In [5]:
X = data.iloc[:, 2:5]
X

      Red (8 bit)  Green (8 bit)  Blue (8 bit)
0               0             72           186
1             176            191            26
2             124            185           232
3             201            255           229
4             178            132           190
...           ...            ...           ...
1293          255            240             0
1294          255            247             0
1295            0             20           168
1296           44             22             8
1297           57            167           142

[1298 rows x 3 columns]

In [6]:
data['Name'] = data['Name'].apply(lambda x: x.replace('(','').replace(')', ''))

In [7]:
y = data['Name']
y

0           Absolute zero
1              Acid green
2                    Aero
3               Aero blue
4          African violet
              ...
1293          Yellow rose
1294      Yellow Sunshine
1295               Zaffre
1296    Zinnwaldite brown
1297                 Zomp
Name: Name, Length: 1298, dtype: object

In [10]:

knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X,y)
model = knn

In [9]:
from sklearn.neural_network import MLPClassifier
ann_model = MLPClassifier(hidden_layer_sizes=(100,), max_iter=1000, random_state=42)
ann_model.fit(X,y)
model = ann_model

c:\Users\necme\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:698: UserWarning: Training interrupted by user.
  warnings.warn("Training interrupted by user.")

In [13]:
model.predict([[150,191,20]])[0]#254,254,250

c:\Users\necme\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

'Apple green'

In [ ]:
joblib.dump(model,'base_model.joblib')
# loaded_model = joblib.load('renk_modeli.joblib')

['base_model.joblib']

In [ ]:
def hex_to_rgb(hex_string):
    # Hex kodunu RGB deÄŸerlerine dÃ¶nÃ¼ÅŸtÃ¼r
    hex_string = hex_string[1:]
    r = int(hex_string[0:2], 16)
    g = int(hex_string[2:4], 16)
    b = int(hex_string[4:6], 16)

    return r, g, b

hex_code = '#00f012'
    
r,g,b = hex_to_rgb(hex_code)
r,g,b

(0, 240, 18)